<div class="row">
  <div class="span12">
		<h1>ホーム</h1>
		<hr />
		<h4>新規ユーザ</h4>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ユーザ数</th>
					<th>ログイン数</th>
					<th>写真数</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @user_count %></td>
					<td><%= @login_count %></td>
					<td><%= @photo_count %></td>
				</tr>
			<tbody>
		</table>
		<h4>新規ユーザ</h4>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ユーザ名</th>
					<th>FacebookID</th>
					<th>登録日</th>
				</tr>
			</thead>
			<tbody>
				<% @new_user.each do |user| %>
				<tr>
					<td><%= user["user_name"] %></td>
					<td><a target="_blank" href="http://www.facebook.com/<%= user["facebook_id"]%>".to_s><%= user["facebook_id"] %></a></td>
					<td><%= Time.at(user["create_date"]).to_s(:db) %></td>
				</tr>
				<% end %>
			<tbody>
		</table>
		<h4>最近のログイン</h4>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ユーザ名</th>
					<th>FacebookID</th>
					<th>ログイン日</th>
				</tr>
			</thead>
			<tbody>
				<% @new_login.each do |login| %>
				<tr>
					<td><%= login["user_name"] %></td>
					<td><a target="_blank" href="http://www.facebook.com/<%= login["facebook_id"]%>".to_s><%= login["facebook_id"] %></a></td>
					<td><%= Time.at(login["create_date"]).to_s(:db) %></td>
				</tr>
				<% end %>
			<tbody>
		</table>
		<h4>新しい欠席写真</h4>
		<% @new_photo.each do |photo| %>
			<img src="data:image/jpeg;base64,<%= Base64.encode64(photo["blob"].to_s) %>" class="img-polaroid" style="max-width: 200px;"/>
		<% end %>
	</div>
</div>

