<div class="row">
  <div class="span12">
		<h1>写真詳細</h1>
		<hr />
		<h4>写真情報</h4>
		<table class="table table-bordered table-striped">
			<tbody>
				<tr>
					<th>写真</th>
					<td><a target="<%= @photo["fb_photo_id"].nil? ? "_self" : "_target" %>" href="<%= @photo["fb_photo_id"].nil? ? "#" : "https://www.facebook.com/photo.php?fbid="+@photo["fb_photo_id"] %>"><img src="data:image/jpeg;base64,<%= Base64.encode64(@photo["blob"].to_s) %>" class="img-polaroid" /></a></td>
				</tr>
				<tr>
					<th>ユーザ</th>
					<td><a href="/admin/user/detail/<%= @user["_id"] %>"><%= @user["user_name"] %></a></td>
				</tr>
				<tr>
					<th>メッセージ</th>
					<td><p><%= @photo["message"].gsub(/\n/, "<br />") %></p></td>
				</tr>
				<tr>
					<th>公開範囲</th>
					<td><%= @photo["privacy"] %></td>
				</tr>
				<tr>
					<th>タグ</th>
					<td><%= @photo["use_tag"] %></td>
				</tr>
				<tr>
					<th>投稿日</th>
					<td><%= Time.at(@photo["create_date"]).to_s(:db) %></td>
				</tr>
				<tbody>
		</table>
	</div>
</div>
