<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<title><%= @page_name %>Don't forget me!!! | その場にいなかった人も写真に入れてあげましょう</title>
		<meta name="keywords" content="Don't forget me,Dfm,Facebook,写真,集合写真,欠席者,画像加工" />
		<meta name="description" content="その集合写真、誰か忘れていませんか？Facebookと連携して簡単に欠席者の顔写真入り集合写真を作成！これで欠席者もニッコリ。" />
		<meta property="og:title" content="Don't forget me!!! | その場にいなかった人も写真に入れてあげましょう" />
		<meta property="og:site_name" content="Don't forget me!!!" />
		<meta property="og:url" content="<%= site_url %>" />
		<meta property="og:type" content="website" />
		<meta property="og:image" content="<%= site_url %>/img/og_logo.png" />
		<meta property="og:description" content="その集合写真、誰か忘れていませんか？Don't forget me!!!は欠席者の顔写真入り集合写真を簡単に作れるアプリです。" />
		<meta property="fb:app_id" content="<%= app_key %>" />
		<meta property="fb:admins" content="100002602125583" />

		<!-- CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/dfm.css<%= get_timestamp("./public/css/dfm.css") %>" rel="stylesheet">
		<!-- /CSS -->
		<!-- JS -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="js/ejs.js"></script>
		<%= @page_js %>
		<!-- /JS -->
		<link href="img/favicon.ico" rel="shortcut icon" type="image/png">
		<!--[if lt IE 9]>
				<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
				<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->
	</head>
	<body id="top" style="padding-top: 40px;">
		<div id="fb-root"></div>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">Don't forget me!!!</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="/">ホーム</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div id="communication-error-message" class="alert alert-error" style="display: none;">通信エラーが発生しました！</div>
			<div id="create-error-message" class="alert alert-warning" style="display: none;">欠席者を追加して下さい！</div>
			<div id="permission-error-message" class="alert alert-warning" style="display: none;">写真の投稿を許可して下さい！</div>
			<%= yield %>
		</div>
		<footer class="footer">
			<div class="container">
				<p>Copyright &copy; 2013 Don't forget me!!! All rights reserved. Developed by <a href="http://twitter.com/#!/ackyla">@ackyla</a>.</p>
			</div>
		</footer>
	</body>
</html>
